#catContainer{
  display: flex;
  flex-wrap: wrap;
  border:2px groove;
  
}
.parent-container{
   display:flex;
   border:2px solid;
  flex-direction: column;
   margin:5px;
  flex-wrap:wrap;
 }
.heading{
  text-align: center;
}
.click-here{
  display:flex;
  justify-content: space-around;
 /*transform: translate(130px)*/
}
/*.cat-flex{
  display:flex;
  flex-wrap:wrap;
  border:2px solid;
  justify-content:space-around;
/*  flex-wrap:wrap;
}*/
img{
  height:200px;
  width:30%;
  margin: 10px;
}